* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(89, 182, 86);
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem auto;
}

header {
  margin: auto;
  padding: 0 2rem 2rem;
  display: flex;
  justify-content: center;
  background-color: #499147;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

footer {
  background-color: #499147;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover,
a.active {
  color: bisque;
  text-decoration: underline;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul a {
  text-decoration: none;
  color: whitesmoke;
}

input {
  border-radius: 6px;
  height: 2rem;
  width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
}

.padded_content {
  padding: 0 2rem 2rem;
}

th, td {
  vertical-align: initial;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}
