.book_details {
  display: flex;
}

.title_row {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.table_container {
  margin-left: 2rem;
  width: 100%;
}

.description_table {
  border-collapse: collapse;
  width: 70%;
}

.description_table th, td {
  padding: 1rem;
}

.description_table th {
  width: 7rem;
  text-align: right;
}

.description_table tr:nth-child(even) {
  background-color: #499147;
}
