.book_details {
  display: flex;
  margin: 1rem;
  text-align: left;
}

.description_items {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-auto-rows: 3rem;
  column-gap: 1rem;
  margin-left: 3rem;
}